.typing-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

#home-header {
    .title {
        height: 500px;
        overflow: visible;
    }

    @media (max-width: 768px) {
        .title {
            height: 200px;
        }
    }
}

.crossed {
    position: relative;
    display: inline-block;
  }
  
  .crossed::after {
    content: "";
    position: absolute;
    left: -5%;
    top: 50%;
    transform: rotate(5deg);
    width: 0;
    height: 5px;
    background: white;
    animation: strike 1s ease both infinite;
  }
  
  @keyframes strike {
    to { width: 105%; }
  }
  